html{
    background-repeat: repeat;

}

.homebkgnd {
    background: url(./images/front-bkgnd.png);

}

.familybkgnd {
    background: url(./images/fam-sil.png);

}

.schoolbkgnd {
    background: url(./images/LC-logo.jpg);

}

.workbkgnd {
    background: url(./images/fresnel.jpg);

}

.hobbiesbkgnd {
    background: url(./images/animated-bb.gif);

}


.banner {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    text-align: center;
    border-style: solid ; 
    border-width: medium;
    border-color: blue;
    background-color: lightgrey;
}

.menu {
    background-color: white;
    

}
.container {
    display: flex;
  }

.container.space-around {
    justify-content: space-around;
  }

  .hello {
    width: 520px;
    height: "288px";
  }

  .intro {
    
    align-content: center;
    background-color: #ccc;
    padding: 40px;
    border: 2px solid #999;
    color: black;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.lf {
  left: 0%;

}

.ct {
  left: 33%;

}

.rt {
  right: 0%;

}

.ltshade {
  background-color: lightgray;
  opacity: .75;
}

.imgsize {
  width: 400px;
  height: auto;;
}