html {
    background: url(/images/front-bkgnd.png);
    background-repeat: repeat;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    text-align: center;
    border-style: solid ; 
    border-width: medium;
    border-color: blue;
    background-color: lightgrey;
}

.container {
    display: flex;
  }

.container.space-around {
    justify-content: space-around;
  }